<h2 style="font-weight: lighter; float: left;margin: 0px 15px">Empleados</h2>
<button type='button' [routerLink]="['agregar']" routerLinkActive="active" class='btn btn-outline-success' style="padding: 10px; font-size: 2em;">+</button>
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12 clearfix" *ngIf='this._router.url == "/empleados"'>
      <router-outlet></router-outlet>
  </div>
  <div class="col-lg-9 col-md-11 col-sm-12 clearfix" *ngIf='this._router.url != "/empleados"'>
      <router-outlet></router-outlet>
  </div>
  <div class="col-lg-6 col-md-8 col-sm-12 justify-content-center" *ngIf='this._router.url == "/empleados"'>
    <h3>Aca tienes un resumen sobre ultimos ingresos</h3>
    <small>Has click y veras los datos completos</small>
    <div style="width: 55%">
    <h4 id='titulos-index'>Salarios</h4>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor='let sal of listSalarios' (click)="this._router.navigateByUrl('salario')">Salario base: Q{{sal.cuota}} Año: {{sal.anio}}</li>
    </ul>

    <h4 id='titulos-index'>IGSS</h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor='let igg of listIgss' (click)="this._router.navigateByUrl('igss')">Cuota: Q{{igg.cuota}} Año: {{igg.anio}}</li>
      </ul> 
    </div>
  </div>
</div>