<h3>Planilla generada para {{monthNames[data.mes -1 ]}} de {{data.anio}}</h3>
<div class='form-inline mb-3'>
    <button type='button' [routerLink]="['../../']"  class='btn mr-5' ><i class="material-icons">arrow_back</i></button>
    <textarea class='form-control mr-5'[(ngModel)]='data.comentario' placeholder='Agrega un comentario' style='width: 45%;'></textarea>

    <button type='button' (click)='editar()' class='btn btn-warning' >Guardar cambios</button>
    
</div>

<table class="table table-hover" style='margin-top: 2em;'>
<thead>
  <tr>
    <th>#</th>
    <th>Nombre empleado</th>
    <th>Fecha inicio de labores</th>
    <th>Salario Base</th>
    <th>Bonificacion</th>
    <th>Total sueldo</th>
    <th>Retencion ISR</th>
    <th>Cuota de IGSS</th>
    <th>Salario Liquido</th>
    <th>Opciones</th>
  </tr>
</thead>
<tbody id='lista-empleados'>
  <tr *ngFor='let datos of listaDatos'>
    <td scope="row">1</td>
    <td>{{datos.nombre_empleado}}</td>
    <td>{{(datos.fecha_inicio != null)?datos.fecha_inicio : 'No esta disponible'}}</td>
    <td>Q{{datos.sueldo_ordinario}}</td>
    <td>Q{{datos.bonificacion}}</td>
    <td>Q{{datos.salario_base}}</td>
    <td>Q{{datos.retencion_isr}}</td>
    <td>Q{{datos.igss}}</td>
    <td>{{datos.salario_liquido}}</td>
    <td> <button md-icon-button> <md-icon class="md-24" color="accent" [routerLink]='["../../detalle", datos.idDetalleP]' (click)='guardar(datos.idPlanilla)'>mode_edit</md-icon> </button> </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <th>Total: </th>
    <th></th>
    <th>Q{{data.total_sueldo_o}}</th>
    <th>Q{{data.total_bonificacion}}</th>
    <th>Q{{data.total_salario_b}}</th>
    <th>Q{{data.total_isr}}</th>
    <th>Q{{data.total_igss}}</th>
    <th>{{data.total_salario_l}}</th>
    <th></th>
  </tr>
</tbody>
</table>