
<h2 style="font-weight: lighter; float: left; margin: 0px 15px">Salarios</h2>
<div class="clearfix"></div>
<div class="row align-items-center">
  <div class="col-lg-6 col-md-8 col-sm-12 clearfix" id='lista-empleados' *ngIf='this._router.url == "/salario"'>
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-11 col-md-8 col-sm-12 clearfix" *ngIf='this._router.url != "/salario"'>
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-5 col-md-8 col-sm-12 clearfix"  *ngIf='this._router.url == "/salario"'>
    <h2>¿Que deseas realizar?</h2>
    <div class="form-inline" style="margin: 10px">
      <h5 style="margin-right: 10px">Agregar</h5><small> Presiona aca </small><button type='button' [routerLink]="['agregar']" routerLinkActive="active" class='btn btn-outline-success' style="margin-left: 10px;padding: 7px; font-size: 2em;">+</button>
    </div>
    <div class="form-inline" style="margin: 10px">
     <h5  style="margin-right: 10px">Editar </h5> <small >Has click en el mensaje de cada salario</small> 
    </div>
    <div class="form-inline" style="margin: 10px">
     <h5  style="margin-right: 10px">Eliminar </h5> <small>Has click en el <i class="material-icons"  style="margin-left: 10px">delete</i> </small>
    </div>
  </div>
</div>