<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a [routerLink]="['']" routerLinkActive="active" *ngIf='!LOG()'>Iniciar Sesion</a>
    <a href="#" *ngIf='!LOG()'>Registrar</a>

    <a [routerLink]="['empleados']" routerLinkActive="active" *ngIf='LOG()' onclick="closeNav()">Empleados</a>
    <a [routerLink]="['salario']" routerLinkActive="active" *ngIf='LOG()' onclick="closeNav()">Salarios</a>
    <a [routerLink]="['igss']" routerLinkActive="active" *ngIf='LOG()' onclick="closeNav()">IGSS</a>
    <a [routerLink]="['planilla']" routerLinkActive="active"  *ngIf='LOG()' onclick="closeNav()">Planillas</a>
    <a href="#" *ngIf='LOG()' (click)='cerrar()'>Cerrar Sesion</a>
  </div>

<nav class="navbar navbar-dark bg-primary" style="height: 2.5em">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-md-11 col-lg-11 col-sm-11">
        <h4 style="color: #fff; text-align: center;font-weight: lighter;" [routerLink]="['']">Planilla</h4>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-1">
        <span class="btn_nav" onclick="openNav()">&#9776;</span>
      </div>
    </div>
  </div>
</nav>
    