<div class="row justify-content-md-center align-items-center">
  <div class="col-lg-6 col-md-8 col-sm-11" style="height: 80%; padding: 15px 5px">
    <img src="./assets/icon-login.png" style=" width: 30%; margin: 20px 35%;" />
    <h2 style="font-weight: lighter; text-align: center">Inicia sesion</h2>
    <h5 style="text-align: center">Ingrese el usuario y la contrasena</h5>
    <form style="margin: 40px 0px" #data='ngForm' (ngSubmit)='login(data)' >
      <div style="width: 50%; margin: auto" class="form-group">
        <input required placeholder="Usuario" type="text" name="nick" ngModel style="margin: 15px 0px" class='form-control' />
        <input required placeholder="Contrasena" type="password" name="pass" ngModel style="margin: 15px 0px" class='form-control' />
        <button type="submit" class="btn btn-outline-info btn-block" style="margin-bottom: 3em" >Ingresar</button>
        <md-progress-bar *ngIf='showBar' mode="indeterminate"></md-progress-bar>
      </div>
    </form>
  </div>
</div>
