<h2 style="font-weight: lighter; float: left;margin: 0px 15px">
    Planillas
  </h2>
  <button type="button" [routerLink]="['generar']" routerLinkActive="active" class="btn btn-outline-info ">Generar nueva planilla</button>
  <div class="clearfix"></div>
  <div class="row justify-content-md-center" style="margin-top: 2em;">
      <div class="col-lg-7 col-md-10 col-sm-12">
          <router-outlet></router-outlet>
      </div>
  </div>