@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(25, 25, 25, 0.94);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
i:hover{
    transition: 0.5s;
    box-shadow: 0px 6px 60px -15px rgba(0,0,0,0.75);
}

#titulos-index{
    margin-top: 10px;
    border-bottom: solid 1px rgba(180, 180, 180, 0.28)
}
#lista-empleados{
    overflow: auto;
    overflow-wrap: align-self auto;
    height: 80vh;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, a:active, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn_nav{
    margin: 0px;padding: 0px;margin-left: 07%;font-size:25px;cursor:pointer;color: #fff
}
.btn_nav:hover{
    box-shadow: 10px 6px 33px -6px rgba(0, 0, 0, 0.39);
    transition: 0.2s;
    font-weight: lighter;
}