<h3>Moficiar cambios del detalle de planilla</h3>

<div class="container">
    <div class="row">
        <img class="col-2   " src="./assets/detalle-icon.jpg" height="20%" width="20%" />
            <div class="col-lg-6 col-md-9 col-sm-12 " >
                <!--Nombre -->
                <div class="form-group form-inline">
                    <h5 class="mr-4">Nombre del Empleado: </h5> <h4>{{datos.nombre_empleado}}</h4>
                    <small [routerLink]='["../../../empleados/editar", datos.idEmpleado]'>Has click aca para modificar datos del empleado</small>
                </div>
                <!--salario base -->
                <div class="form-group">
                    <label>Salario Base</label> 
                    <input placeholder="Salario Base" type="number" (change)='actualizar()' class="form-control" [(ngModel)]='datos.sueldo_ordinario' name='sueldo_ordinario' >
                </div>
                <!--Bonificacion -->
                <div class="form-group">
                    <label>Bonificacion</label> 
                    <input placeholder="Bonificacion" type="number" (change)='actualizar()' class="form-control" [(ngModel)]='datos.bonificacion' name='bonificacion' >
                </div>
                <!--Retencion ISR -->
                <div class="form-group">
                    <label>Retencion ISR</label> 
                    <input placeholder="Retencion ISR" type="number" (change)='actualizar()' class="form-control" [(ngModel)]='datos.retencion_isr' name='retencion_isr' >
                </div>
                <!--Couta de IGSS-->
                <div class="form-group">
                    <label>Couta IGSS</label> 
                    <input placeholder="Couta IGSS" type="number" (change)='actualizar()' class="form-control" [(ngModel)]='datos.igss' name='igss' >
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <h3 class="mt-2">Total sueldo: Q{{datos.salario_base }}</h3>
                <h3 class="mt-2">Salario liquido: Q{{datos.salario_liquido }}</h3>
                <button type="button" (click)='editar()' class="btn btn-warning mb-2" >Guardar cambios</button>
                <button type="button" class="btn mb-2" >Volver</button>
            </div>
    </div>
</div>