<h3>Generar planilla</h3>
<small>{{mensaje}}</small>
<div class="form-inline"><h3 *ngIf='comenta' >Comentario: </h3><p *ngIf='comenta' >{{data.comentario}}</p></div>
<div class='form-inline'>
    <button type='button' [routerLink]="['../']"  class='btn mr-5' ><i class="material-icons">arrow_back</i></button>
    <md-select placeholder="Mes" [(ngModel)]="data.mes" name="mes" style='margin-right: 10px' >
        <md-option *ngFor="let _mes of monthNames" [value]="_mes.numero">
        {{_mes.mes}}
        </md-option>
    </md-select>
    <md-select placeholder="Año" [(ngModel)]="data.anio" name="anio" style='margin-right: 10px' >
        <md-option *ngFor="let _anio of anios" [value]="_anio">
        {{_anio}}
        </md-option>
</md-select>
<textarea *ngIf='gene' class='form-control' [(ngModel)]='data.comentario' placeholder='Agrega un comentario' style='margin-right: 10px'></textarea>
<button type='button' (click)='buscar()' class='btn btn-outline-success' >Generar planilla</button>

<md-spinner *ngIf='carga' style='width: 5%'></md-spinner>
</div>

<table *ngIf='listaDatos.length != 0' class="table table-hover" style='margin-top: 2em;'>
<thead>
  <tr>
    <th>#</th>
    <th>Nombre empleado</th>
    <th>Fecha inicio de labores</th>
    <th>Salario Base</th>
    <th>Bonificacion</th>
    <th>Total sueldo</th>
    <th>Retencion ISR</th>
    <th>Couta de IGSS</th>
    <th>Salario Liquido</th>
  </tr>
</thead>
<tbody id='lista-empleados'>
  <tr *ngFor='let datos of listaDatos'>
    <th scope="row">1</th>
    <th>{{datos.nombre_empleado}}</th>
    <th>{{datos.fecha_inicio}}</th>
    <th>Q{{datos.sueldo_ordinario}}</th>
    <th>Q{{datos.bonificacion}}</th>
    <th>Q{{datos.salario_base}}</th>
    <th>Q{{datos.retencion_isr}}</th>
    <th>Q{{datos.igss}}</th>
    <th>{{datos.salario_liquido}}</th>
  </tr>
</tbody>
</table>
<button *ngIf='gene' type='button' class='btn btn-primary btn-block btn-lg' (click)='generar()'>Guardar planilla <i class="material-icons">done</i></button>
